<!--tabs.page.html-->
<ion-tabs >
  <ion-tab-bar *ngIf="isAuthenticated" id="app-tab-bar" slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="message">
      <ion-icon name="chatbox"></ion-icon>
      <ion-label>Message</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historial">
      <ion-icon name="bag-add"></ion-icon>
      <ion-label>Clinic History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="logo-wechat"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
